n8n-fluxos/contrato.json
{
  "name": "contrato",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "96a31298-7d8d-4006-b434-40917d08a9b0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        -32
      ],
      "id": "80537490-4670-4cae-8bea-e2b7c70096c9",
      "name": "Webhook",
      "webhookId": "96a31298-7d8d-4006-b434-40917d08a9b0"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "contrato",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        16,
        -32
      ],
      "id": "54f0b192-e9bf-4f9b-81e5-bbf7e2f85fba",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "inputDataFieldName": "contrato",
        "name": "={{ \"xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx\".replace(/[xy]/g, c => { var r = Math.random() * 16 | 0, v = c == \"x\" ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1HhcJIkTP47ACAiQo1MPwOUJ3aTD7Syjr",
          "mode": "list",
          "cachedResultName": "contratos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HhcJIkTP47ACAiQo1MPwOUJ3aTD7Syjr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -576,
        -208
      ],
      "id": "fd0ec2c8-d7ad-4571-b189-995f610792c5",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PGOnvldfVwmHzA6w",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1HhcJIkTP47ACAiQo1MPwOUJ3aTD7Syjr",
          "mode": "list",
          "cachedResultName": "contratos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HhcJIkTP47ACAiQo1MPwOUJ3aTD7Syjr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        -208
      ],
      "id": "d3571751-2967-4bc8-a7b8-5e7acae7e696",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PGOnvldfVwmHzA6w",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        -208
      ],
      "id": "7c8816df-a1d6-4360-b18b-8b6418ccdc5c",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PGOnvldfVwmHzA6w",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        -112
      ],
      "id": "0524ab99-a5cf-4c18-9124-599b237cc9df",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4WqVlIJCN3Z9j9Cg",
          "mode": "list",
          "cachedResultName": "contratos-ia-processing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $('Merge').item.json.text }}",
            "postman-token": "={{ $json.id }}",
            "file_id": "={{ $('Move file').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "postman-token",
              "displayName": "postman-token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        800,
        -112
      ],
      "name": "Call contratos-ia-processing",
      "id": "15b32ae4-179c-4451-aa3d-49f25dbedbbb"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contracts",
          "mode": "list",
          "cachedResultName": "contracts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.name }}",
            "original_filename": "={{ $json.name }}.pdf",
            "storage_path": "=https://drive.google.com/file/d/{{ $('Move file').item.json.id }}/view",
            "analyzed_at": "={{ (new Date()).toISOString().replace('T', ' ').substring(0, 19) }}",
            "created_at": "={{ (new Date()).toISOString().replace('T', ' ').substring(0, 19) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "original_filename",
              "displayName": "original_filename",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "storage_path",
              "displayName": "storage_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "analyzed_at",
              "displayName": "analyzed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        -208
      ],
      "id": "1d1f0ada-2acc-4ba1-8640-b2f47bdd5ba0",
      "name": "Novo Contrato",
      "credentials": {
        "postgres": {
          "id": "XOJwY8RukACUz0Ur",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contracts",
          "mode": "list",
          "cachedResultName": "contracts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "raw_text": "={{ $('Extract from File').item.json.text }}",
            "analyzed_at": "={{ (new Date()).toISOString().replace('T', ' ').substring(0, 19) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "original_filename",
              "displayName": "original_filename",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "storage_path",
              "displayName": "storage_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analyzed_at",
              "displayName": "analyzed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "raw_text",
              "displayName": "raw_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        -112
      ],
      "id": "920155a2-104a-4ba5-8980-e8748f5a2f5a",
      "name": "Atualiza Status",
      "credentials": {
        "postgres": {
          "id": "XOJwY8RukACUz0Ur",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Novo Contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Atualiza Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Novo Contrato": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Status": {
      "main": [
        [
          {
            "node": "Call contratos-ia-processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27ec5dfa-b12f-4fc4-84e8-6dc9cd4fda93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36b90d5d33b956bb3261502af4d10bdd5dc4c3f9f9f4a7059cfb7b5bd41fdc08"
  },
  "id": "GQ6Ywvwv98AgwoyZ",
  "tags": []
}