n8n-fluxos/contratos-ia-processing.json
{
  "name": "contratos-ia-processing",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Atue como um advogado especialista em análise contratual, com profundo conhecimento da legislação brasileira. Sua tarefa é realizar uma revisão crítica e detalhada do contrato fornecido e gerar como resposta apenas um array JSON com os resultados das Seções 1 e 2 da análise, sem nenhum texto ou formatação adicional.\nAnálise Requerida (Parte 1 de 2):\nSeção 1: Extração de Dados Essenciais\n\nSeção 2: Análise de Riscos e Cláusulas Perigosas/Leoninas\n\nFormato de Saída Obrigatório:\nSua única saída deve ser um bloco de código contendo um array JSON. Não inclua explicações ou textos introdutórios. Cada objeto no array deve seguir estritamente a estrutura abaixo.\n\nEstrutura dos Objetos JSON:\n\nsection_id: (Número) Use 1 para Dados Essenciais e 2 para Riscos.\n\ndisplay_order: (Número) Ordem sequencial do item dentro de sua seção, começando em 1.\n\nlabel: (Texto) O título ou a chave do item (ex: \"Partes Envolvidas\").\n\ncontent: (Texto) A descrição principal ou o valor do item.\n\ndetails: (Objeto JSON) Para a Seção 2, mapeie os sub-itens (como \"Citação do Trecho Relevante\", \"Descrição do Risco\", \"Ponto de Atenção\") para este objeto. Para a Seção 1, envie um objeto vazio ({}).\n\nExemplo de Saída JSON (Parte 1):\n\n[\n  {\n    \"section_id\": 1,\n    \"display_order\": 1,\n    \"label\": \"Partes Envolvidas\",\n    \"content\": \"CONTRATANTE: ... e CONTRATADA: ...\",\n    \"details\": {}\n  },\n  {\n    \"section_id\": 2,\n    \"display_order\": 1,\n    \"label\": \"Cláusula 8. DA TRANSFERÊNCIA DE OBRIGAÇÕES\",\n    \"content\": \"A cláusula cria um desequilíbrio significativo...\",\n    \"details\": {\n      \"Citação do Trecho Relevante\": \"Fica aqui ressalvado o direito da CONTRATANTE...\",\n      \"Descrição do Risco\": \"Retira a autonomia da CONTRATADA...\",\n      \"Ponto de Atenção\": \"Recomenda-se negociar a alteração...\"\n    }\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -32,
        48
      ],
      "id": "0ef6fb17-2fd7-4676-9cc0-56a048104ec1",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Acessa a saída dos nós de IA e de entrada, especificando cada entrada pelo seu índice (0 e 1).\nconst json1String =$('AI Agent').first().json.output.replaceAll('```json','').replaceAll('```','').trim(); \nconst json2String = $input.all(0)[0].json.output.replaceAll('```json','').replaceAll('```','').trim();\n\ntry {\n  // Converte as strings JSON em arrays de objetos JavaScript.\n  const array1 = JSON.parse(json1String);\n  const array2 = JSON.parse(json2String);\n\n  // Mescla (concatena) os dois arrays em um só.\n  const mergedArray = array1.concat(array2);\n\n  // Mapeia o array mesclado para o formato de saída padrão,\n  // onde cada objeto do array se torna um item na saída do nó.\n  return mergedArray.map(item => ({ json: item }));\n\n} catch (error) {\n  // Retorna uma mensagem de erro detalhada caso uma das strings não seja um JSON válido.\n  return [{ \n    json: { \n      error: \"Erro ao processar e mesclar os JSONs.\",\n      errorMessage: error.message,\n      // Inclui os dados originais para facilitar a depuração.\n      json1_received: json1String,\n      json2_received: json2String\n    } \n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        48
      ],
      "id": "4b9b3bd9-615d-448d-b481-d969c52d87d1",
      "name": "Code",
      "retryOnFail": false
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "postman-token"
            },
            {
              "name": "file_id"
            }
          ]
        }
      },
      "id": "bb11243c-0938-4d17-a2be-9a4301ebe43f",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -288,
        48
      ]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 64000,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        208
      ],
      "id": "1da40e3b-4bdb-46e9-88c9-056b87d99034",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NoZ2V8YDYluhza90",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Contrato para Análise: {{ $('Start').item.json.text }}\nContexto (Análise das Seções 1 e 2 já realizada): {{ $json.output }}",
        "options": {
          "systemMessage": "=Atue como um advogado especialista em análise contratual. Continue a análise do contrato fornecido, levando em conta os pontos já levantados no contexto abaixo. Sua tarefa é gerar como resposta apenas um array JSON com os resultados das Seções 3 e 4 da análise, sem nenhum texto ou formatação adicional.\nAnálise Requerida (Parte 2 de 2):\nSeção 3: Identificação de Brechas, Falhas e Inconsistências\n\nSeção 4: Parecer Final e Recomendações\n\nFormato de Saída Obrigatório:\nSua única saída deve ser um bloco de código contendo um array JSON. Não inclua explicações ou textos introdutórios. Cada objeto no array deve seguir estritamente a estrutura abaixo.\n\nEstrutura dos Objetos JSON:\n\nsection_id: (Número) Use 3 para Brechas e 4 para Parecer.\n\ndisplay_order: (Número) Ordem sequencial do item dentro de sua seção, começando em 1.\n\nlabel: (Texto) O título ou a chave do item. Para a Seção 4, use \"Parecer Final e Recomendações\".\n\ncontent: (Texto) A descrição principal ou o valor do item.\n\ndetails: (Objeto JSON) Para a Seção 3, mapeie os sub-itens (como \"Localização\", \"Impacto Potencial\") para este objeto. Para a Seção 4, envie um objeto vazio ({}).\n\nExemplo de Saída JSON (Parte 2):\n\n[\n  {\n    \"section_id\": 3,\n    \"display_order\": 1,\n    \"label\": \"Ambiguidade Crítica\",\n    \"content\": \"A cláusula 3.1 estipula o preço de 'R$ 25.000,00', mas não esclarece...\",\n    \"details\": {\n      \"Localização\": \"Cláusula 3.1. DO PREÇO E FORMA DE PAGAMENTO\",\n      \"Impacto Potencial\": \"Risco de disputa sobre o valor total devido...\"\n    }\n  },\n  {\n    \"section_id\": 4,\n    \"display_order\": 1,\n    \"label\": \"Parecer Final e Recomendações\",\n    \"content\": \"O contrato apresenta um desequilíbrio considerável...\",\n    \"details\": {}\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        336,
        48
      ],
      "id": "80cdfa38-7c9c-4774-bfbb-1a29de5b15ec",
      "name": "AI Agent1",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 64000,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        208
      ],
      "id": "90b7868c-8268-47c1-a075-0e5e0b04ad5f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NoZ2V8YDYluhza90",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "analysis_data_points",
          "mode": "list",
          "cachedResultName": "analysis_data_points"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ \"xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx\".replace(/[xy]/g, c => { var r = Math.random() * 16 | 0, v = c == \"x\" ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}",
            "contract_id": "={{ $('Start').item.json['postman-token'] }}",
            "section_id": "={{ $json.section_id }}",
            "display_order": "={{ $json.display_order }}",
            "label": "={{ $json.label }}",
            "content": "={{ $json.content }}",
            "details": "={{ $json.details }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contract_id",
              "displayName": "contract_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "section_id",
              "displayName": "section_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_order",
              "displayName": "display_order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        48
      ],
      "id": "f4995b01-2751-4b15-851e-4afc55636f3e",
      "name": "Novo Ponto",
      "credentials": {
        "postgres": {
          "id": "XOJwY8RukACUz0Ur",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contracts",
          "mode": "list",
          "cachedResultName": "contracts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "processed",
            "id": "={{ $('Start').item.json['postman-token'] }}",
            "analyzed_at": "={{ (new Date()).toISOString().replace('T', ' ').substring(0, 19) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "original_filename",
              "displayName": "original_filename",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "storage_path",
              "displayName": "storage_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analyzed_at",
              "displayName": "analyzed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        48
      ],
      "id": "00b8afbd-a685-4009-852c-4f4f253343ac",
      "name": "Atualiza status",
      "credentials": {
        "postgres": {
          "id": "XOJwY8RukACUz0Ur",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "text": "CONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 1 de 11\nPelo presente instrumento particular e na melhor forma de direito, as partes, de um lado;\nBIOFY TECHNOLOGIES LTDA, pessoa jurídica de direito privado, inscrita no CNPJ sob o nº. 53.614.271/0001-01,\nsituada no endereço Rodovia BR 365, km 615, s/n.º, Bloco C, Zona Rural, CEP: 38.407-180, na cidade de\nUberlândia/MG, neste ato representada por PAULO ANDRÉ SANT'ANNA PEREZ, brasileiro, empresário, CPF:\n530.469.351-53, portador do RG 65575662-0 SSP/SP, doravante denominada CONTRATANTE e, de outro lado\nAGENCIA OUTRA FORMA LTDA, pessoa jurídica de direito privado, inscrita no CNPJ sob o nº 51.184.506/0001-39,\ncom endereço na Av. Floriano Peixoto, 2596, caso fundos, Custódio Pereira, Uberlândia/MG, CEP 38.405-184, neste\nato representada por LUIS GUSTAVO BARBOSA DE OLIVEIRA, inscrito no CPF sob o nº 099.173.426-21, doravante\ndenominada simplesmente CONTRATADA, doravante denominada CONTRATADA.\nSendo, CONTRATANTE e CONTRATADA, isoladamente denominadas simplesmente “Parte” e, conjuntamente,\n“Partes”.\nDEFINIÇÕES\nOs termos a seguir, quando mencionados nesse Contrato, terão os significados especificados abaixo:\n“Afiliada”: significa, com relação a uma Parte, qualquer sociedade ou outra pessoa jurídica que, diretamente ou por\nmeio de um ou mais intermediários, controle, seja controlada ou esteja sob o controle comum com essa Parte.\nConforme utilizado neste instrumento, “controle” significa o poder de dirigir a administração dessa pessoa jurídica\npor meio de direitos de voto, direitos de propriedade ou obrigações contratuais;\n“Alteração de Controle”: significa, com relação a qualquer das Partes, a consumação de qualquer transação, séries\nde transações ou outros eventos, por meio dos quais tal Parte deixe de estar sob o controle direto ou indireto da\npessoa que, na data de assinatura, seja a empresa-mãe em última instância da referida Parte, incluindo por fusão ou\nqualquer outro tipo de transação societária;\n“Autoridade Governamental”: significa qualquer autoridade governamental federal, estadual, municipal, local ou\nestrangeira, ou qualquer outra autoridade governamental apta a exercer qualquer atividade administrativa,\nexecutiva, judiciária, legislativa, polícia, autoridade reguladora, autarquia ou com poder de tributar; ou entidades\nprivadas devidamente credenciadas para realizar atividades em favor de qualquer autoridade governamental\nfederal, estadual, municipal, local, estrangeira ou outra, numa jurisdição aplicável;\n“Obras”: significa certos trabalhos ou produtos que poderão ser protegidos, ou não, por direitos de propriedade\nindustrial ou direitos exclusivos de autor, incluindo, mas não se limitando a produtos fotográficos, projetos de\nengenharia e arquitetônicos, obras audiovisuais, layouts, know-how, fórmulas, métodos, processos, informações\naplicáveis à indústria, incluindo quaisquer modificações, melhorias ou derivações nos mesmos, e o conceito por trás\nde tais produtos, trabalhos ou materiais;\n“Pagamentos Ilegais”: significa qualquer importância em dinheiro ou qualquer artigo de valor ou qualquer favor a\nqualquer representante/funcionário de governo, em qualquer instância, ou de partido político, para os fins de:\na) Influenciar qualquer ato ou decisão desse representante/funcionário de governo, em qualquer instância,\nou de partido político em sua qualidade oficial;\nb) Induzir esse representante/funcionário de governo, em qualquer instância, ou de partido político a praticar\nou deixar de praticar qualquer ato em violação ao dever legal desse representante/funcionário de governo,\nem qualquer instância, ou de partido político; ou\nc) Induzir esse representante/funcionário de governo, em qualquer instância, ou de partido político, a usar\nsua influência junto a qualquer governo ou qualquer órgão deste para efetuar ou influenciar qualquer ato\nou decisão desse governo ou órgão com o fim de auxiliar a si própria e/ou a Contratante na obtenção de\nqualquer favorecimento, autorização ou permissão ou autorização governamental.\nEstão inclusos no conceito de “Pagamento Ilegal”, qualquer importância em dinheiro ou qualquer artigo de valor ou\nqualquer favor, incluindo comissões, “kickbacks”, etc, feito, direta ou indiretamente, a um empregado, sócio ou\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n\nCONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 2 de 11\nacionista de qualquer das empresas, com o objetivo de obter algum tipo de vantagem, incluindo uma decisão de\ncontratação, acelerar qualquer processo, etc, ou para evitar o cumprimento de uma obrigação legal ou prevista no\nâmbito deste Contrato.\n“Partes”: significará a CONTRATANTE e CONTRATADA quando identificadas conjuntamente, sendo que isoladamente\nserão identificadas como “Parte”;\n“Procedimento”: significa qualquer ação, processo, demanda ou reivindicação perante qualquer Autoridade\nGovernamental ou judicial, ou qualquer outro processo legal administrativo, arbitragem, investigativo ou qualquer\noutro procedimento de resolução alternativa de litígios envolvendo uma Parte ou as Partes.\n“Serviços”: significa os serviços prestados de acordo com os termos deste Contrato, conforme indicado na cláusula\n1.1.\n“Dados Pessoais”: qualquer informação obtida em razão do presente Contrato, relacionada a pessoa natural\nidentificada ou identificável, como por exemplo: nome, CPF, RG, PIS/PASEP, endereço residencial ou comercial,\nnúmero de telefone fixo ou móvel, endereço de e-mail, informações de geolocalização, entre outros;\n“Dados Pessoais Sensíveis”: dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, filiação\na sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado\ngenético ou biométrico, quando vinculado a uma pessoa natural;\n“Dado Anonimizado”: dado relativo à titular que não possa ser identificado, considerando a utilização de meios\ntécnicos razoáveis e disponíveis na ocasião de seu tratamento;\n“Titular Dos Dados”: pessoa natural a quem se referem os DADOS PESSOAIS que são objeto de TRATAMENTO;\n“Tratamento”: qualquer operação ou conjunto de operações efetuadas com DADOS PESSOAIS ou sobre conjuntos\nde DADOS PESSOAIS, por meios automatizados ou não automatizados, tais como a coleta, o registro, a organização,\na estruturação, a conservação, a adaptação ou alteração, a recuperação, a consulta, a utilização, a divulgação por\ntransmissão, difusão ou qualquer outra forma de disponibilização, a comparação ou interconexão, a limitação, a\neliminação ou a destruição;\n“Controladora”: a quem compete as decisões referentes ao TRATAMENTO DE DADOS PESSOAIS, especialmente\nrelativas às finalidades e os meios desses TRATAMENTOS;\n“Operador”: parte que trata os DADOS PESSOAIS, de acordo com as instruções da CONTROLADORA;\n“Autoridade Nacional De Proteção De Dados”: órgão responsável pela fiscalização do cumprimento das disposições\nda Lei Geral de Proteção de Dados, Lei Federal nº 13.709/2018, no território nacional;\n“Incidentes”: qualquer acesso, aquisição, uso, modificação, divulgação, perda, destruição ou dano acidental ilegal\nou não autorizado que envolva os DADOS PESSOAIS E DADOS PESSOAIS SENSÍVEIS.\n“Encarregado”: pessoa indicada pelo CONTROLADOR e OPERADOR para atuar como canal de comunicação entre o\nCONTROLADOR, os TITULARES DOS DADOS e a AUTORIDADE NACIONAL DE PROTEÇÃO DE DADOS (ANPD)”.\nResolvem as Partes firmar o presente Contrato de Prestação de Serviços (“Contrato”) de acordo com os seguintes\ntermos e condições.\n1. DO OBJETO\n1.1. Pelo Contrato, a CONTRATADA prestará à CONTRATANTE os serviços de Consultoria Especializada em\nArquitetura software, com uso do sistema de coleta de dados fornecidos pela CONTRATANTE (“Serviços”). Em\ncaso de qualquer incongruência ou conflito entre qualquer outro documento firmado entre as Partes\nrelacionados aos Serviços e o Contrato, prevalecerá sempre o disposto no Contrato.\n1.2. Nenhuma disposição constante no Contrato poderá ser interpretada de modo a considerar-se a existência de\nqualquer obrigação de a CONTRATANTE contratar exclusivamente os Serviços da CONTRATADA, podendo a\nCONTRATANTE, a seu exclusivo critério e sem que isto gere qualquer direito à CONTRATADA, contratar\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n\nCONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 3 de 11\nquaisquer serviços, ainda que semelhantes ou idênticos aos Serviços ora contratados, de qualquer terceiro, a\nqualquer tempo e título. Da mesma forma, não há qualquer obrigação da CONTRATANTE de contratar\nqualquer volume mínimo de Serviços da CONTRATADA.\n1.3. A CONTRATADA reconhece que caso venha a prestar os Serviços unicamente à CONTRATANTE, o fato não\npoderá ser interpretado como obrigação ou mesmo a existência de modalidade contratual firmada em bases\nexclusivas.\n1.4. A CONTRATADA declara expressamente estar legalmente habilitada para a prestação dos Serviços objeto deste\nContrato, e que dispõe e manterá disponíveis, além de conhecimento técnico, em especial na contratação,\nprocessamento e gerenciamento suficientes e adequados para atender as necessidades da CONTRATANTE.\n2. DO PRAZO\n2.1. O Contrato vigorará pelo prazo de 12 meses, a contar da data 01/04/2025, podendo ser renovado\nautomaticamente, caso nenhuma das partes venha a manifestar-se em sentido contrário, com antecedência\nmínima de 30 (trinta) dias ao término do contrato.\n2.2. Este Contrato revoga e substitui todos os contratos anteriores e acertos orais e/ou escritos havidos entre as\nPartes, outorgando entre si a mais plena, geral, irrevogável e irretratável quitação de toda e qualquer\npendência, sem nenhuma exceção, mas, em especial, às obrigações concernentes ao pagamento de todos\nos serviços prestados até a presente data, renunciando as Partes ainda, a quaisquer outras verbas porventura\ndevidas.\n3. DO PREÇO E FORMA DE PAGAMENTO\n3.1. A CONTRATANTE pagará à CONTRATADA o valor de R$ 10.000,00 (dez mil reais). A CONTRATADA reconhece\nexpressamente que o pagamento devido somente será efetuado pela CONTRATANTE mediante a\napresentação, até o dia 3 de cada mês subsequente, pela CONTRATADA, de nota fiscal de prestação de\nserviços, e do relatório mensal dos Serviços prestados, que deverá conter a descrição dos Serviços realizados\nno período de referência. O Preço já contempla todo o necessário para a execução dos Serviços, pelo qual a\nCONTRATADA não deverá pleitear à CONTRATANTE qualquer pagamento adicional.\n3.1.1. O descumprimento ao item anterior, resultará em não pagamento, pela CONTRATANTE à\nCONTRATADA, até que a exigência em questão seja cumprida.\n3.1.2. Para fins de realização dos pagamentos previstos neste instrumento, com o que anui desde já e de\nforma expressa a CONTRATADA; esta deverá apresentar, juntamente com a documentação fiscal\nlegal própria, o documento, sem o qual os pagamentos não serão feitos: (i) comprovante do\nrecolhimento mensal dos valores devidos pela CONTRATADA ao INSS - Instituto Nacional do Seguro\nSocial - não somente a parte devida pelos empregados como também pela empregadora.\n3.2. Os pagamentos serão realizados até o dia 10 do mês subsequente ao recebimento da Nota Fiscal de Prestação\nde Serviços pela CONTRATANTE. A CONTRATANTE não será responsabilizada e tão pouco haverá qualquer\nônus a ela na ocorrência de atrasos no envio da Nota Fiscal.\n3.3. Todos os pagamentos realizados pela CONTRATANTE serão via crédito em conta corrente cadastrada pela\nCONTRATADA perante a CONTRATANTE.\n3.4. O não pagamento imotivado pela CONTRATANTE do valor previsto na presente cláusula, no seu devido prazo\nde vencimento, resultará na obrigação da CONTRATANTE em pagar à CONTRATADA o valor em atraso,\nacrescido de juros de mora de 1% (um por cento) ao mês e correção monetária calculada com base na variação\ndo IGPM/FGV do período, ambos pro rata die. Nenhuma penalidade adicional será aplicada.\n3.5. Todos os tributos e contribuições incidentes, sejam Estaduais, Federais ou Municipais, retidos na fonte ou não,\njá serão considerados no Preço, de forma que não serão acrescidos quaisquer tributos e/ou custos e/ou\nvalores adicionais de qualquer natureza sobre o valor a ser pago pela CONTRATANTE à CONTRATADA. Os\ntributos e contribuições aplicáveis serão arcados pela CONTRATADA, devendo a mesma isentar a\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n\nCONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 4 de 11\nCONTRATANTE de todas as responsabilidades daí advindas. A retenção na fonte de tributos em atendimento\nà legislação fiscal não acarretará ajustamento dos valores a serem pagos.\n3.6. As Partes acordam desde já que eventuais valores devidos pela CONTRATADA à CONTRATANTE em razão da\nprestação dos serviços, bem como decorrentes de obrigações previstas no Contrato e não cumpridas pela\nCONTRATADA, poderão ser compensados aos valores eventualmente devidos pela CONTRATANTE a\nCONTRATADA em razão do Contrato, nos termos do artigo 368, do Código Civil Brasileiro.\n4. DAS OBRIGAÇÕES DAS PARTES\n4.1. São obrigações da CONTRATANTE, sem prejuízo de outras aqui previstas ou decorrentes deste Contrato:\n4.1.1. Avaliar os trabalhos realizados pelo prestador de serviços e a efetividade do acompanhamento;\n4.1.2. Apresentar a CONTRATADA todos os documentos necessários e orientações pertinentes ao bom e fiel\ncumprimento do presente contrato de assessoria, quando solicitada.\n4.1.3. Efetuar o pagamento na forma e modo estabelecidos.\n4.2. São obrigações da CONTRATADA, sem prejuízo de outras aqui previstas ou decorrentes deste Contrato:\n4.2.1. Cumprir fielmente todas as cláusulas e condições do Contrato, com todo o zelo e diligência, em\nobservância aos melhores padrões técnicos, de segurança e qualidade, bem como todas as políticas,\nregulamentos internos e normas de segurança da CONTRATANTE que lhe serão entregues após a\nassinatura do Contrato devendo a CONTRATADA acusar recebimento por escrito dos mesmos,\nrespondendo por qualquer descumprimento ou infração efetuada.\n4.2.2. Esclarecer, junto à Diretoria da CONTRATANTE, toda e qualquer dúvida para a execução dos Serviços.\n4.2.3. Obter e manter em regularidade, durante o período de vigência contratual, todas e quaisquer\nautorizações, permissões, alvarás e licenças necessárias à execução dos Serviços, bem como com\neventuais determinações impostas por qualquer Autoridade Governamental.\n4.2.4. Não subcontratar a execução dos Serviços, salvo autorização prévia e por escrito da CONTRATANTE,\nfirmada por seus representantes legais.\n4.2.5. Comparecer em eventos e realizar viagens necessárias ao cumprimento do SLA, sempre que solicitado\npela CONTRATANTE.\n4.2.6. Prestar informações necessárias nas hipóteses de ocorrência de auditorias realizadas na CONTRATANTE.\n4.2.7. Responsabilizar-se por quaisquer danos e prejuízos sofridos, bem como aqueles causados à\nCONTRATANTE, aos seus empregados, às suas instalações e equipamentos, e bem assim a quaisquer\nterceiros, ocasionados em virtude de ação, omissão, culpa ou dolo da CONTRATADA, de seus\nempregados e/ou subcontratados envolvidos na execução do Contrato, ou outros prepostos vinculados\ndireta ou indiretamente à CONTRATADA, sendo certo que o acompanhamento da prestação dos Serviços\npela CONTRATANTE não excluirá ou reduzirá, de qualquer forma, a responsabilidade aqui prevista.\n4.2.8. A CONTRATADA declara que atende a toda legislação ambiental vigente e que não causa quaisquer tipos\nde danos ao meio ambiente, sob pena de, ao fazê-lo, possibilitar à CONTRATANTE a rescindir o Contrato\nora celebrado. Caso a CONTRATADA descumpra com o aqui acordado, esta se responsabiliza, ainda, por\ntodos e quaisquer danos causados, e a repará-los, seja em caráter in natura ou de forma pecuniária e,\nainda, arcar com toda e qualquer despesa que a CONTRATANTE venha a incorrer com remediação ou\nressarcimento de eventuais danos causados ao meio ambiente.\n4.2.9. A CONTRATADA declara que não utiliza, sob qualquer hipótese, mão de obra infantil e/ou trabalho\nescravo, respectivamente nos termos do artigo 7º, XXXIII da Constituição Federal e da Convenção 105\nda Organização Internacional do Trabalho (promulgada pelo decreto nº. 58.563 de 1966), seja dentro\nou fora das instalações da CONTRATANTE, sob pena de rescisão contratual, respondendo civil e\ncriminalmente por tal ato, sem qualquer limitação.\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n\nCONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 5 de 11\n4.2.10. A CONTRATADA declara que não fará, direta ou indiretamente, qualquer pagamento, donativo ou\nconcessão à: (i) funcionário público, (ii) administrador, funcionário, subcontratado ou fornecedor da\nCONTRATANTE, ou (iii) qualquer terceiro, que possa constituir uma violação à legislação aplicável.\n4.2.11. Utilizar técnicas condizentes com o serviço de assessoria a ser prestado, utilizando-se de todos os\nesforços para a sua consecução.\n4.2.12. Efetuar viagens por todo o território nacional para realização dos atos de assessoria que se fizerem\nnecessários.\n4.2.13. Solucionar os eventuais problemas pertinentes ou relacionados à execução dos serviços objeto do\nContrato, mesmo que, para isso, outra solução não prevista neste tenha de ser apresentada, para\naprovação e implementação, sem ônus adicionais para a CONTRATANTE.\n4.2.14. Desenvolver todas as ações necessárias ao planejamento, supervisão e gerenciamento do escopo\ncontratado.\n4.2.15. Manter entendimento com a CONTRATANTE, objetivando evitar interrupções ou paralisações na\nexecução dos serviços.\n4.2.16. Manter a CONTRATANTE informada de todo e qualquer desvio ou problema que afete a imagem da\nCONTRATANTE ou o resultado econômico-financeiro dos contratos com a carteira de clientes, ou do não\ncumprimento do cronograma de ações propostas;\n4.2.17. Reunir-se com a CONTRATANTE para analisar todos os assuntos relacionados com o desenvolvimento\ndos trabalhos e definir o programa de ações.\n4.2.18. Assegurar que todas as informações recebidas ou obtidas com relação à celebração ou execução deste\nContrato, incluindo informações relativas a qualquer aspecto de suas atividades comerciais ou\noperações serão tratadas de forma confidencial e não poderão ser divulgadas.\n4.2.19. Não assumir compromissos em nome da CONTRATANTE que não estejam previstos no contrato, sem o\nprévio conhecimento e consentimento da CONTRATANTE.\n5. RESPONSABILIDADES TRABALHISTAS E ENCARGOS SOCIAIS\nCaberão à CONTRATADA todas as responsabilidades trabalhistas, securitárias, civis, previdenciárias, fiscais e\nadicionais legais, inclusive aquelas decorrentes de modificações na legislação em vigor, vinculadas direta ou\nindiretamente à CONTRATADA.\n6. FISCALIZAÇÃO\n6.1. A CONTRATANTE reserva-se no direito de acompanhar os Serviços, através de seus prepostos e demais pessoas\nfísicas ou jurídicas por ela credenciadas de forma a verificar o cumprimento das obrigações aqui previstas.\n6.2. O exercício pela CONTRATANTE do acompanhamento dos Serviços não exonera e nem reduz a CONTRATADA\nde suas responsabilidades por eventuais erros, falhas ou omissões relacionadas com tais obras ou serviços.\n7. DA RESCISÃO\n7.1. Sem prejuízo, o Contrato poderá ser rescindido por quaisquer das Partes nas hipóteses a seguir elencadas:\na) Infração de qualquer cláusula contratual não sanada no prazo concedido pela outra Parte, nunca inferior a\n05 (cinco) dias úteis ou outro prazo que vier a ser acordado pelas Partes na oportunidade;\nb) A inobservância de especificações técnicas e de segurança, bem como a legislação trabalhista e\nprevidenciária pela CONTRATADA; ou,\nc) A negligência, imperícia, imprudência da CONTRATADA na execução do Contrato.\n7.2. A ocorrência de quaisquer das hipóteses previstas dará ensejo à rescisão de pleno direito do Contrato,\nindependentemente de aviso, notificação ou interpelação judicial ou extrajudicial, sujeitando-se a Parte\ninadimplente ao pagamento à Parte inocente de eventuais danos e prejuízos que porventura esta última tenha\nsofrido.\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n\nCONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 6 de 11\n7.3. Caso seja a CONTRATADA a parte infratora, além das sanções previstas em Contrato, deverá devolver à\nCONTRATANTE a quantia por esta já paga antecipadamente.\n7.4. Caso a CONTRATADA der causa à rescisão deste Contrato em face de qualquer uma das hipóteses elencadas nas\nalíneas “a”, e “c” acima, além daquelas elencadas no Contrato, responderá pela multa não compensatória\ncorrespondente a 10% (dez por cento) do valor devido mensal, valor este que será descontado do próximo\npagamento devido pela CONTRATANTE à CONTRATADA, sem prejuízo de, comprovado prejuízo superior ao\nvalor da multa acima, arcar ainda com as perdas e danos comprovadamente decorrentes.\n8. DA TRANSFERÊNCIA DE OBRIGAÇÕES\n8.1. A CONTRATADA não poderá ceder e/ou transferir as disposições aqui previstas, total ou parcialmente, inclusive\nassumir obrigações perante instituições financeiras, dando-o como garantia ou caução, não podendo ainda\ntransferir a terceiros os direitos creditórios decorrentes deste Contrato, em operações de Cessão de Créditos,\nOperações de Recebíveis, entre outras, sem a prévia e expressa autorização da CONTRATANTE. Fica aqui\nressalvado o direito da CONTRATANTE em livremente ceder e/ou transferir o Contrato, total ou parcialmente,\na qualquer outra empresa, independentemente de qualquer comunicação e/ou notificação; sendo que a\ncessão e/ou transferência aqui prevista inclui, mas não se limita, a decorrente de reorganizações societárias,\nem especial Alteração de Controle ou operações de incorporação, cisão e fusão, operações estas que ficam\ndesde já autorizadas, independentemente de qualquer aprovação prévia da CONTRATADA.\n8.2. A CONTRATANTE poderá, ainda, incluir ou excluir novas empresas de seu grupo econômico como parte\ncontratante deste Contrato, mediante o simples envio de comunicação à CONTRATADA.\n9. DOS DIREITOS AUTORAIS\n9.1. A CONTRATADA declara e reconhece que na execução do escopo deste Contrato e durante a sua vigência, a\nCONTRATADA, criará ou ainda poderá criar determinadas Obras, quer reduzidos a forma tangível, postos em\nprática ou não. Na medida em que quaisquer dessas Obras sejam desenvolvidas ou criadas, estas serão\nconsideradas como criadas sob encomenda da CONTRATANTE. Assim a CONTRATADA, declara e reconhece\nque o CONTRATANTE terá o direito exclusivo sobre os direitos de propriedade, inclusive direitos de\npropriedade industrial e de direitos de autor, direitos patrimoniais e de exploração, sobre tais Obras, quando\n(i) desenvolvidas e/ou criadas em razão ou decorrência do escopo dos Serviços ora contratados da\nCONTRATADA e utilizados ou a serem utilizados ou implementados pela CONTRATANTE; ou (ii) das\ninformações de propriedade da CONTRATANTE de caráter confidencial ou exclusivo, sendo direito da\nCONTRATANTE, a seu exclusivo critério, explorar economicamente as Obras, direta ou indiretamente, licenciar\ne/ou ceder a terceiros os direitos sobre estes, de forma exclusiva e sem qualquer espécie de restrição ou\nlimitação, em especial no que se refere à forma de utilização, exploração, distribuição ou circulação dos\nmesmos. A CONTRATADA também concorda que não criará, utilizará e/ou autorizará o uso, tanto durante\nquanto após o término deste Contrato e/ou dos Serviços que lhe foram confiados, de qualquer projeto e/ou\nde qualquer propriedade intelectual relacionado direta ou indiretamente com as Obras.\n9.2. As Partes acordam expressamente que as Obras pertencerão exclusivamente à CONTRATANTE, mesmo que\ncriadas fora das suas dependências. A CONTRATADA se obriga a não reclamar, a qualquer tempo, as Obras\ncomo de sua propriedade e/ou titularidade.\n9.3. Para todos os fins de direito, a CONTRATADA cede como de fato ficam cedidos ao CONTRATANTE, de forma\ntotal, exclusiva e definitiva todos os direitos de propriedade, incluindo ainda direitos patrimoniais, uso e\nexploração, sobre todos e quaisquer Obras conforme definição na cláusula 10.2 acima. Fica expressamente\najustado que a cessão dos direitos de propriedade, incluindo ainda direitos patrimoniais, uso e exploração,\nsobre as Obras, será válida para dentro e fora do território brasileiro, de forma irrevogável e sem qualquer\nônus à CONTRATANTE (já incluída no preço dos Serviços de que trata este Contrato), conferindo a esta última\no direito de modificar, traduzir para qualquer língua, editar, publicar, exibir, reproduzir, adaptar, distribuir,\npraticar, transmitir e/ou revelar, licenciar e/ou ceder a terceiros tais Obras e tais direitos ora cedidos,\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n\nCONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 7 de 11\nincluindo-os em parte de obras derivadas e/ou coletivas, organizadas por terceiros ou pela CONTRATANTE, a\nqualquer tempo, incondicionalmente, podendo usá-los em qualquer processo, meios ou técnicas, tais como\nreprográfica, fotográfica, vídeo-fonográfica, fonográfica, comunicações via cabo, transmissão (rádio e\ntelevisão), por meio de satélite ou qualquer outro processo, eletromagnético, digital ou não, incluindo\ncomunicação on-line, disponível na Internet.\n9.4. A CONTRATADA assegura possuir e manter todas as autorizações necessárias ao integral cumprimento dos\ntermos e condições pactuados nas cláusulas acima, respondendo ela e seus sócios, integralmente, por\nqualquer prejuízo ou dano, incluindo indenizações, no caso de eventuais reclamações de terceiros, inclusive\nde seus sócios, empregados ou contratados.\n10. DO SIGILO E CONFIDENCIALIDADE\n10.1. A CONTRATADA obriga-se a manter o mais completo e absoluto sigilo sobre quaisquer dados, materiais,\ninformações, documentos, especificações técnicas ou comerciais, inovações e aperfeiçoamentos que venha a\nter conhecimento, acesso, ou que lhe venha a ser confiados, tais como, mas não se limitando a técnicas, planos\nde ação, relatórios de vendas, desempenho de publicidade, “know-how”, especificações e projetos, inclusive\nem relação aos clientes, fornecedores, associados, distribuidores ou quaisquer outras pessoas, físicas ou\njurídicas, com que as partes mantenham relações jurídicas, não podendo, sob qualquer pretexto, direta ou\nindiretamente, divulgar, revelar, reproduzir, utilizar ou dar conhecimento de tais informações a terceiros.\n10.2. Somente será admitido como legítimo motivo de exceção à obrigatoriedade de sigilo, a ocorrência do\ndescumprimento nas seguintes hipóteses:\na) as informações, dados, manuais, desenhos, etc., que já eram comprovadamente conhecidas pela\nCONTRATADA anteriormente às tratativas de contratação;\nb) haja prévia e expressa anuência da CONTRATANTE, por representante credenciado a tanto, quanto à\nliberação da obrigação de sigilo e confidencialidade;\nc) a informação foi comprovadamente conhecida através de outra fonte, de forma legal e legítima,\nindependentemente do Contrato;\nd) determinação judicial e/ou governamental para conhecimento das informações, desde que notificada a\nCONTRATANTE previamente à liberação, e sendo requerido segredo de justiça no seu trato judicial e/ou\nadministrativo.\n10.3. A CONTRATADA não poderá repassar as informações supracitadas a qualquer empresa, entidade, agência ou\npessoa sem a prévia e expressa autorização da CONTRATANTE.\n10.4. Todas as obrigações de manter sigilo, supracitadas, permanecerão em vigor e válidas pelo prazo deste\nContrato e por mais 5 (cinco) anos a contar do seu término, independentemente do motivo. A não observância\ndo sigilo poderá, ainda e se for o caso, dar ensejo à imediata rescisão do presente Contrato\n10.5. A CONTRATADA não divulgará, nem tampouco revelará quaisquer das informações técnicas, estratégicas ou\nmercadológicas à terceiros, mesmo que seja a favor da CONTRATANTE.\n10.6. A CONTRATADA obriga-se a limitar a disseminação dos dados, informações técnicas, estratégicas e\nmercadológicas somente aos prepostos da CONTRATANTE que efetivamente precisem tomar ciência do\nconteúdo delas.\n10.7. Caso a CONTRATADA seja obrigada a revelar qualquer informação Confidencial ou relacionada a projeto, por\nordem judicial ou ordem da administração pública, a CONTRATADA deverá notificar a CONTRATANTE para que\nesta possa buscar os remédios legais e contratuais disponíveis para se opor à revelação.\n10.8. A CONTRATADA compromete-se a entregar à CONTRATANTE toda a documentação por ela obtida e/ou gerada\nem razão do presente Contrato, após o seu término ou em decorrência de sua rescisão antecipada, por\nqualquer motivo.\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n\nCONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 8 de 11\n10.9. A CONTRATADA está obrigada a um dever de confidencialidade e sigilo relativamente a toda a informação\ne/ou dados pessoais a que tenha acesso por virtude ou em consequência das relações comerciais/profissionais\nque manterá com a CONTRATANTE, devendo assegurar-se de que os seus empregados, consultores e/ou\nprestadores de serviços que, no exercício das suas funções, tenham acesso e/ou conhecimento de dados\npessoais, também cumpram com as disposições aqui previstas.\n11. DA PROTEÇÃO DOS DADOS PESSOAIS DOS COLABORADORES E CLIENTES DA CONTRATANTE\n11.1. A CONTRATADA declara-se ciente dos direitos, obrigações e penalidades aplicáveis constantes da Lei Geral de\nProteção de Dados Pessoais (Lei 13.709/2018) (“LGPD”), e obriga-se a adotar todas as medidas razoáveis de\ngovernança, para garantir, por si própria que utilize os dados pessoais a que vier ter acesso em virtude da\nexecução do escopo do presente instrumento protegidos na extensão autorizada na referida LGPD.\n11.2. Em caso de incidente de vazamento de dados pessoais, a CONTRATADA deverá enviar comunicação à\nCONTRATANTE, por escrito, no prazo máximo de até 24 (vinte e quatro) horas contado a partir da ciência do\nvazamento, contendo no mínimo, as seguintes informações:\n11.2.1. Data e hora do incidente;\n11.2.2. Data e hora da ciência que a CONTRATADA teve conhecimento que os dados pessoais foram vazados;\n11.2.3. Relação dos tipos de dados pessoais afetados pelo incidente;\n11.2.4. Relação de titulares afetados pelo incidente;\n11.3. A CONTRATADA se obriga a não armazenar e a não compartilhar os dados pessoais a que venha a ter acesso\nem virtude do presente contrato de prestação de serviços com terceiros, salvo com autorização prévia,\nexpressa e por escrito da CONTRATANTE.\n11.4. Considerando que a CONTRATADA é uma OPERADORA de DADOS PESSOAIS dos Colaboradores e Terceiros da\nCONTRATANTE, ora CONTROLADORA, em relação à coleta e cadastro de DADOS PESSOAIS, a CONTRATADA\ndeverá cumprir todas as disposições legais inerentes a sua função de OPERADOR.\n11.5. Desta forma, o TRATAMENTO de DADOS PESSOAIS será realizado pelo OPERADOR, esse deve garantir que\nqualquer pessoa envolvida no TRATAMENTO de DADOS PESSOAIS em seu nome, em razão deste Contrato,\ncumprirá esta cláusula.\n11.6. O OPERADOR tratará os DADOS PESSOAIS somente para executar as suas obrigações contratuais dispostas\nneste Contrato e/ou seus Aditivos. Igualmente, o OPERADOR não coletará, usará, acessará, manterá,\nmodificará, divulgará, transferirá ou, de outra forma, tratará DADOS PESSOAIS, sem a ciência e autorização\nexpressa da CONTROLADORA. O OPERADOR tratará os DADOS PESSOAIS em observância a todas as Leis de\nPrivacidade e Proteção de Dados Aplicáveis e às Políticas e Normas aplicáveis e impostas pela\nCONTROLADORA.\n11.7. O OPERADOR reconhece que os DADOS PESSOAIS SENSÍVEIS estão sujeitos a um maior rigor legal e, portanto,\nexigem maior proteção técnica e organizacional. Assim, quando o OPERADOR realizar operações de\nTRATAMENTO de DADOS PESSOAIS SENSÍVEIS, deverá garantir que as proteções técnicas apropriadas, aptas a\nmanter a integridade, confidencialidade e segurança destas informações sejam implementadas, como por\nexemplo, a criptografia. O OPERADOR concorda em realizar o TRATAMENTO de DADOS PESSOAIS SENSÍVEIS,\napenas quando for estritamente necessário para cumprir com as disposições contratuais.\n11.8. A CONTRATADA se compromete a tratar todos os dados pessoais como confidenciais, ainda que esta relação\njurídica venha a ser resolvida e independentemente dos motivos que derem causa ao seu término ou\nresolução.\n11.9. Caso o OPERADOR seja destinatário de qualquer ordem judicial ou comunicação oficial que determine o\nfornecimento ou divulgação de informações pessoais, deverá notificar a CONTROLADORA, no prazo máximo\nde 24 (vinte e quatro) horas, contados do recebimento da ordem judicial ou comunicação oficial, sobre o\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n\nCONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 9 de 11\nocorrido, oportunizando a adoção, em tempo hábil, de medidas legais para impedir ou mitigar os efeitos\ndecorrentes da divulgação dos DADOS PESSOAIS relacionados a esta requisição ou objetos desta.\n11.10. O OPERADOR, na hipótese de violação de DADOS PESSOAIS em decorrência deste Contrato e da Lei Geral de\nProteção de Dados, incidirá em infração contratual e será integralmente responsável por quaisquer\nreclamações, perdas e danos, custas e despesas processuais judiciais, administrativas e arbitrais, bem como\nhonorários advocatícios, em qualquer instância ou tribunal, que venham a ser ajuizadas em face da\nCONTROLADORA, inclusive multas, mas não se limitando àquelas aplicadas pela AUTORIDADE NACIONAL DE\nPROTEÇÃO DE DADOS. Dados, além de qualquer outra situação que exija o pagamento de valores pecuniários,\nquando os eventos que levarem a tais consequências decorrerem de: (i) descumprimento, pelo OPERADOR,\nou por terceiros por ele contratados, das disposições expostas neste instrumento; (ii) qualquer exposição\nacidental ou proposital de DADOS PESSOAIS; (iii) qualquer ato do OPERADOR ou de terceiros por ele\ncontratados, em discordância com a legislação aplicável à privacidade e proteção de dados.\n11.11. Não obstante qualquer disposição em contrário, as obrigações do OPERADOR definidas neste Contrato,\nperdurarão enquanto o OPERADOR continuar a ter acesso, estiver na posse, adquirir ou realizar qualquer\noperação de TRATAMENTO DE DADOS PESSOAIS obtidos em razão da relação contratual com a\nCONTROLADORA, mesmo que todos os contratos entre o OPERADOR e a CONTROLADORA tenham expirado\nou sido rescindidos.\n12. DA INEXISTÊNCIA DE VÍNCULO TRABALHISTA ENTRE AS PARTES\nA CONTRATADA será a única e exclusiva responsável pelo cumprimento de todas as obrigações decorrentes das leis\ntrabalhistas, previdenciárias e sociais, relativas à presente prestação de serviços, em hipótese alguma, qualquer\nvínculo, trabalhista ou de qualquer natureza, entre a CONTRATANTE e a CONTRATADA.\n13. DA ANTICORRUPÇÃO E COMPLIANCE\n13.1. A CONTRATADA se obriga, sob as penas previstas na legislação aplicável, a observar e cumprir rigorosamente\ntodas as leis cabíveis, incluindo, mas não se limitando à legislação brasileira anticorrupção, a legislação\nbrasileira contra a lavagem de dinheiro, assim como as normas e exigências constantes das políticas internas\nda CONTRATANTE.\n13.2. A CONTRATADA declara e garante que não está envolvida ou irá se envolver, direta ou indiretamente, em\nqualquer atividade ou prática que constitua uma infração aos termos das leis anticorrupção.\n13.3. A CONTRATADA declara que, direta ou indiretamente, não irá ofertar, prometer, pagar ou autorizar o\npagamento em dinheiro, dar ou concordar em dar presentes ou qualquer objeto de valor a qualquer pessoa\nou entidade, pública ou privada, com o objetivo de beneficiar ilicitamente a CONTRATANTE e/ou seus\nnegócios.\n13.4. A CONTRATADA declara que, direta ou indiretamente, não irá receber, transferir, manter, usar ou esconder\nrecursos que decorram de qualquer atividade ilícita, bem como não irá contratar como empregado ou de\nalguma forma manter relacionamento profissional com pessoas físicas ou jurídicas envolvidas em atividades\ncriminosas, em especial pessoas investigadas pelos delitos previstos nas leis anticorrupção, de lavagem de\ndinheiro, tráfico de drogas e terrorismo.\n13.5. A CONTRATADA se obriga a tratar como matéria sigilosa todos os assuntos de interesse da CONTRATANTE que,\ndireta ou indiretamente, tenha ou vier a ter conhecimento, obrigando-se a deles não utilizar em benefício\npróprio ou divulgar, de forma a não permitir ou deixar que qualquer pessoa deles se utilize, sob pena de\nrescisão do presente CONTRATO, de pleno direito.\n13.6. A CONTRATADA fica obrigada a seguir sempre e rigidamente os mais elevados princípios legais, éticos e morais\nque sejam aplicáveis às suas atividades.\n13.7. A CONTRATADA concorda em participar de qualquer treinamento e programa de compliance que venha a ser\nindicado pela CONTRATANTE. Mediante solicitação da CONTRATANTE, a CONTRATADA confirmará por escrito\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n\nCONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 10 de 11\nperiodicamente o cumprimento contínuo de suas obrigações referentes às práticas anticorrupção sob a\npresente cláusula.\n13.8. Qualquer infração às declarações e garantias efetuadas acima pela CONTRATADA constituirá justa causa para\na imediata rescisão deste Contrato pela CONTRATANTE, sem prejuízo do pagamento das perdas e danos pela\núltima sofridos.\n14. DAS COMUNICAÇÕES\nAs comunicações e notificações relacionadas a este Contrato, de uma Parte a outra Parte, deverão ser entregues aos\nseus encarregados, no seguinte endereço:\nBIOFY TECHNOLOGIES LTDA\nEndereço: Rodovia BR 365, km 615, s/n.º, bloco c,\nZona Rural, CEP: 38.407-180, Uberlândia/MG\nE-mail: comercial@biofy.tech\nTelefone: +55 34 8413-6511\nAGENCIA OUTRA FORMA LTDA\nEndereço: Av. Floriano Peixoto, 2596, caso fundos,\nCustódio Pereira, Uberlândia/MG, CEP 38.405-184.\nE-mail: luisoliveira@outraforma.com.br\nTelefone: +55 (34) 98807-7151\n15. TERMOS E CONDIÇÕES DA PRESTAÇÃO DE SERVIÇOS\n15.1. A CONTRATADA será responsável pela execução pontual dos Serviços e obriga-se, desde já, a executá-los com\na melhor técnica, dentro nos tempos e na forma avençados com a CONTRATANTE.\n15.2. Toda a gestão da execução dos Serviços caberá à CONTRATADA, bem como a geração de relatórios para a\nCONTRATANTE, quando solicitado.\n15.3. Este Contrato não gera nenhuma relação de exclusividade entre as Partes, podendo, tanto a CONTRATANTE\ncomo a CONTRATADA, respectivamente, contratar com terceiros e prestar a terceiros serviços semelhantes\ne/ou da mesma natureza daqueles estabelecidos nesta contratação.\n15.4. Os Serviços serão prestados nas dependências da CONTRATANTE, tendo em vista a necessidade de utilizar\nelementos, dados ou ferramentas que sejam essenciais à execução dos Serviços.\n15.5. Além das obrigações definidas em outras cláusulas deste Contrato e nas disposições da legislação vigente, a\nCONTRATADA terá as seguintes obrigações:\na) prestar os Serviços de forma completa e autônoma;\nb) executar todos os Serviços, reportando o andamento das atividades periodicamente;\n16. CONDIÇÕES GERAIS\n16.1. Declaram as Partes que este Contrato não estabelece qualquer forma de associação, franquia, consórcio,\njoint venture, vínculo empregatício, societário ou solidariedade entre as Partes, nem confere às Partes\npermissão para praticar quaisquer atos, contratar ou assumir obrigações em nome da Parte contrária. A\nCONTRATADA não possuirá horário fixo de entrada e saída na empresa, uma vez que não existirá vínculo\nempregatício.\n16.2. Nenhuma desistência ou omissão, por qualquer Parte, de exigir o cumprimento, pela outra, de qualquer\ncláusula deste Contrato, nem qualquer tolerância concedida ou demonstrada por uma Parte à outra,\ndesobrigará, exonerará, ou, de qualquer forma, afetará nem prejudicará o direito de uma Parte de, a\nqualquer tempo, exigir o cumprimento rigoroso, pela outra, de qualquer ou de todos os dispositivos e\nobrigações deste Contrato.\n16.3. As partes obrigam-se a não tolerar assédio nem discriminação por motivo de sexo, raça, cor, crença,\nreligião, idade, origem étnica ou nacional, estado conjugal ou de paternidade, incapacidade física ou\nmental, orientação sexual, nem de tempo de serviço.\n16.4. A CONTRATADA não é agente da CONTRATANTE e não tem autoridade para representar a CONTRATANTE\nrelativamente a qualquer questão, salvo se expressamente autorizado pela CONTRATANTE. A\nCONTRATADA reconhece e concorda que não está autorizada a firmar qualquer contrato que de qualquer\nforma obrigue a CONTRATANTE, sem o consentimento prévio e por escrito da CONTRATANTE.\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n\nCONTRATO DE PRESTAÇÃO DE SERVIÇOS\nGerência Jurídica 2025 |Página 11 de 11\n16.5. Qualquer alteração, modificação ou cancelamentos de quaisquer cláusulas ou condições previstas neste\ncontrato, deverá ser feito através de Termo de Aditivo Contratual escrito, devidamente assinado pelas\npartes contratantes.\n16.6. A CONTRATADA não poderá ceder, total ou parcialmente, os seus direitos e/ou obrigações previstas ou\ndecorrentes deste Contrato.\n16.7. Na hipótese de qualquer cláusula, termo ou disposição deste Contrato ser declarado nulo ou inexequível,\ntal nulidade ou inexequibilidade não afetará quaisquer outras Cláusulas, termos ou disposições aqui\ncontidas, as quais permanecerão em pleno vigor e efeito.\n16.8. Todos os avisos, solicitações, notificações e outras comunicações, nos termos deste Contrato, deverão ser\nfeitos por escrito, através de carta ou e-mail.\n16.9. Visando o bom desempenho dos Serviços, sempre que necessário, as partes se reunirão para analisar o\nandamento dos trabalhos, mediante convocação prévia com pauta, cabendo a cada uma envolver os\nprofissionais relacionados com o assunto, andamento de projetos atinentes ao presente instrumento.\n16.10. A eventual omissão ou tolerância de qualquer das Partes em exigir o cumprimento de todos os termos e\ncondições deste Contrato não constituirá novação ou renúncia de seus direitos, que poderão ser exercidos\na qualquer tempo.\n16.11. As Partes reconhecem que o Contrato poderá ser assinado por qualquer meio legalmente admitido,\npodendo ser firmado por meio eletrônico, digital ou manuscrito, ou ainda de forma mista, sendo que neste\núltimo caso as Partes poderão optar as formas a serem utilizada, de maneira que as declarações constantes\ndeste Contrato, assinado por quaisquer dos meios acima elegidos, inclusive a forma mista, presumir-se-ão\nverdadeiros em relação às Partes contratantes, nos termos dispostos nos art. 219 e 225 da Lei n. 10.406/02\n(Código Civil), bem como ao expresso na MP 2.200-2, no que for aplicável, assumindo as Partes a\nresponsabilidade por adotar as medidas necessárias para garantir a autenticidade e a preservação de seu\nconteúdo.\n17. DA RESCISÃO\nO presente contrato poderá ser rescindido a qualquer tempo, mediante pré-aviso escrito da parte interessada, com\nno mínimo 30 (trinta) dias de antecedência.\n18. DO FORO\nFica eleito o Foro da Cidade de Uberlândia/MG, com expressa renúncia a qualquer outro, por mais privilegiado que\nseja, para dirimir as questões oriundas da interpretação e execução do presente contrato.\nE, por estarem justos e contratados, assinam o presente, em 2 (duas) vias de igual teor e para um só efeito, na\npresença de 02 (duas) testemunhas.\nUberlândia/MG, 14 de abril de 2025\nBIOFY TECHNOLOGIES LTDA AGÊNCIA OUTRA FORMA LTDA\nTESTEMUNHAS\nNome: Nome:\nCPF: CPF:\nDocusign Envelope ID: E5B37930-E0B4-4C5D-A1EF-3797A470FCD1\n01564847659\nJORDANA DA SILVA LEITE \nANA LAURA GUIMARÃES\n02045991644",
          "postman-token": "c9b612c7-d6a1-4dfe-a06a-bc2a5a0a9767",
          "file_id": "1eEE5yZPOFd2UwARSiiSxpwLT-3OT0uB1"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Novo Ponto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Novo Ponto": {
      "main": [
        [
          {
            "node": "Atualiza status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "202ba5b3-e95d-48e6-b2b3-005024bf5661",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36b90d5d33b956bb3261502af4d10bdd5dc4c3f9f9f4a7059cfb7b5bd41fdc08"
  },
  "id": "4WqVlIJCN3Z9j9Cg",
  "tags": []
}